#pocetna-nav{
    margin-left: 540%;
}

#dodajClanaForma{
    margin-top: 3%;
    width: 40%;
    margin-left: 32%;
}

#dodajClanaBtn{
    width: 45%;
    margin-top: 1%;
    margin-left: 2%;
}

#forma-naslov{
    margin-top: 2%;
    margin-left: 5%;
}

.nav-elementi{
    display: flex;
}

#korisnici-tabela{
    width: 50%;
    margin-left: 28%;
    margin-top: 3%;
}
